services:

  mysql-server-1:
    container_name: mysql-server-1
    image: mysql/mysql-server:8.0.20
    restart: always
    env_file:
      - ./mysql-server.env
    command:
      - mysqld
      - --server_id=1
      - --binlog_checksum=NONE
      - --gtid_mode=ON
      - --enforce_gtid_consistency=ON
      - --log_bin
      - --log_slave_updates=ON
      - --master_info_repository=TABLE
      - --relay_log_info_repository=TABLE
      - --transaction_write_set_extraction=XXHASH64
      - --default_authentication_plugin=mysql_native_password
    volumes:
      - mysql_node1_data:/var/lib/mysql
    ports:
      - "3301:3306"
      - "33061:33060"
    networks:
      - plax-net
    expose:
      - "33061"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-uroot", "-proot"]
      interval: 5s       # cada cuánto se chequea
      timeout: 3s        # tiempo máximo de respuesta
      retries: 10        # si falla 10 veces → unhealthy
      start_period: 30s  # espera inicial para que MySQL arranque

  mysql-server-2:
    container_name: mysql-server-2
    image: mysql/mysql-server:8.0.20
    restart: always
    env_file:
      - ./mysql-server.env
    command:
      - mysqld
      - --server_id=2
      - --binlog_checksum=NONE
      - --gtid_mode=ON
      - --enforce_gtid_consistency=ON
      - --log_bin
      - --log_slave_updates=ON
      - --master_info_repository=TABLE
      - --relay_log_info_repository=TABLE
      - --transaction_write_set_extraction=XXHASH64
      - --default_authentication_plugin=mysql_native_password
    volumes:
      - mysql_node2_data:/var/lib/mysql
    ports:
      - "3302:3306"
      - "33062:33060"
    networks:
      - plax-net
    expose:
      - "33061"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-uroot", "-proot"]
      interval: 5s       # cada cuánto se chequea
      timeout: 3s        # tiempo máximo de respuesta
      retries: 10        # si falla 10 veces → unhealthy
      start_period: 30s  # espera inicial para que MySQL arranque

  mysql-server-3:
    container_name: mysql-server-3
    image: mysql/mysql-server:8.0.20
    restart: always
    env_file:
      - ./mysql-server.env
    command:
      - mysqld
      - --server_id=3
      - --binlog_checksum=NONE
      - --gtid_mode=ON
      - --enforce_gtid_consistency=ON
      - --log_bin
      - --log_slave_updates=ON
      - --master_info_repository=TABLE
      - --relay_log_info_repository=TABLE
      - --transaction_write_set_extraction=XXHASH64
      - --default_authentication_plugin=mysql_native_password
    volumes:
      - mysql_node3_data:/var/lib/mysql
    ports:
      - "3303:3306"
      - "33063:33060"
    networks:
      - plax-net
    expose:
      - "33061"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-uroot", "-proot"]
      interval: 5s       # cada cuánto se chequea
      timeout: 3s        # tiempo máximo de respuesta
      retries: 10        # si falla 10 veces → unhealthy
      start_period: 30s  # espera inicial para que MySQL arranque

  mysql-shell:
    container_name: mysql-shell
    image: neumayer/mysql-shell-batch
    restart: "no"
    env_file:
      - ./mysql-shell.env
    networks:
      - plax-net
    volumes:
      - ./scripts/:/scripts/
    depends_on:
      mysql-server-1:
        condition: service_healthy
      mysql-server-2:
        condition: service_healthy
      mysql-server-3:
        condition: service_healthy

  mysql-router:
    container_name: mysql-router
    image: mysql/mysql-router:8.0.20
    restart: always
    env_file:
      - ./mysql-router.env
    networks:
      - plax-net
    ports:
      - "6446:6446"
    depends_on:
      mysql-shell:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "mysql-router", "-P", "6446"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    image: sofiayanez98/plax-backend:latest
    container_name: plax_backend
    restart: always
    env_file:
      - ./plax-backend/.env
    ports:
      - "8080:8080"
    networks:
      - plax-net
    volumes:
      - ./plax-backend/uploads:/app/uploads
    depends_on:
      mysql-router:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    labels:
      - "com.containrrr.watchtower.enable=true"

  frontend:
    image: sofiayanez98/plax-frontend:latest
    container_name: plax_frontend
    restart: always
    environment:
      VITE_API_URL: http://backend:8080
    ports:
      - "5173:80"
    networks:
      - plax-net
    volumes:
      - ./plax-frontend/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    labels:
      - "com.containrrr.watchtower.enable=true"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql-router
      PMA_PORT: 6446
    ports:
      - "8081:80"
    networks:
      - plax-net
    depends_on:
      mysql-router:
        condition: service_healthy
    
  mysql-shell-console:
    image: neumayer/mysql-shell-batch
    container_name: mysql-shell-console
    networks:
      - plax-net
    entrypoint: ["tail", "-f", "/dev/null"]
    depends_on:
      - mysql-server-1
      - mysql-server-2
      - mysql-server-3
      
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: >
      --interval 30
      --cleanup
      --label-enable
      
networks:
  plax-net:

volumes:
  mysql_node1_data:
  mysql_node2_data:
  mysql_node3_data: